[submodule "tools/speedtest-cli"]
	path = tools/speedtest-cli
	url = https://github.com/sivel/speedtest-cli.git
[submodule "tools/imapsync"]
	path = tools/imapsync
	url = https://github.com/imapsync/imapsync.git
[submodule "tools/sshuttle"]
	path = tools/sshuttle
	url = https://github.com/apenwarr/sshuttle.git
