[submodule "tools/speedtest-cli"]
	path = tools/speedtest-cli
	url = git://github.com/sivel/speedtest-cli.git
[submodule "tools/imapsync"]
	path = tools/imapsync
	url = git://github.com/imapsync/imapsync.git
[submodule "tools/sshuttle"]
	path = tools/sshuttle
	url = git://github.com/apenwarr/sshuttle.git
[submodule "supervisor"]
	path = supervisor
	url = git://github.com/installation/supervisor.git
[submodule "webmin"]
	path = webmin
	url = git://github.com/installation/webmin.git
[submodule "redmine"]
	path = redmine
	url = git://github.com/installation/redmine.git
[submodule "security"]
	path = security
	url = git://github.com/installation/security.git
